body{
  font-family: 'Muli', sans-serif;
  margin:0;
}
header{
  background-color: #142850;
}
a{
  font-family: 'Muli', sans-serif;
}
.header{
  display:flex;
  justify-content: space-between;
  padding: 15px 0;
  height: auto;
}
.header_logo img{
  width:200px;
  align-items: center;
  margin-left: 10px;
}