body{
  font-family: 'Muli', sans-serif;
  margin:0;
  height: 100vh;
}
header{
  background-color: #142850;
}
a{
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color:white;
}
.header{
  display:flex;
  justify-content: space-between;
  padding: 15px 0;
  width: 100%;
  align-items: center;
}
.header_logo img{
  width:200px;
  align-items: center;
  margin-left: 10px;
}
.register{
  background: linear-gradient(#142850, #00a8cc);
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  min-height: calc(100vh - 200px);
  padding: 0 30px;
  flex-direction: column;
}
.register_container{
  display:flex;
  flex-direction: column;
  background: rgba(255, 255, 255, .1);
  min-height: 700px;
  width:300px;
  border: 2px solid white;
  border-radius: 40px;
  justify-content: space-between;
  padding: 60px 68px 40px;
}
.register_container > h2{
  padding-top: 30px;
}
.register_container-form{
  display:flex;
  flex-direction: column;
}
.register_container-form input{
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  margin-bottom:20px;
  height: 50px;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  outline: none;
  padding: 0 15px;
  color: white;
}
::placeholder{
  color:white;
}
.button{
  background-color: rgba(255, 255, 255, .2);
  border-radius: 25px;
  border: none;
  color: white;
  height: 50px;
  font-size: 16px;
  outline: none;
  font-weight: bold;
  letter-spacing: 1px;
  margin:25px 0 10px;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
}
.register_container-register{
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}
.register_container-register a:hover{
  text-decoration: underline;
}
.footer{
  background-color: #00a8cc;
  display: flex;
  align-items: center;
  height: 105px ;
  width: 100%;
}
.footer a{
  color: white;
  cursor: pointer;
  padding-left: 30px;
  font-size: 14px;
}
.footer a:hover{
  text-decoration: underline;
}